ollama
langchain 
langchain-core
langchain-ollama
langchain-community
langchain_text_splitters

sentence-transformers

python-docx
langchain_classic
langchain-docling
langchain_milvus
pymilvus
easyocr

fastapi
python-multipart
uvicorn[standard]

motor
pymongo
pydantic
pydantic[email]

pyvi



pyjwt
itsdangerous
pwdlib[argon2]
httpx
python-dotenv
langchain-huggingface 
langfuse